doctype html
include header.txt
html.no-js(ng-app="borderApp")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
    title= title
    block opengraph
      meta(property="og:title", content=opengraph.title)
      meta(property="og:site_name", content=opengraph.site_name)
      meta(property="og:url", content=opengraph.url)
      meta(property="og:image", content=opengraph.image)
      meta(property="og:type", content=opengraph.type)
      meta(property="og:description", content=opengraph.description)
    block head
      link(rel="stylesheeet", href="/js/bower_components/angular/angular-csp.css")
      != css('app')
      != js("bower_components/modernizr/modernizr")
      include fonts
      include analytics
  body.ng-cloak
    block content
    script.
      window.locals = !{JSON.stringify(locals.expose)};
    != js("bower_components/angular/angular")
    != js("bower_components/angular-resource/angular-resource")
    != js("bower_components/jquery/dist/jquery")
    block scripts
      != js('border_app')